.elementor-20 .elementor-element.elementor-element-619c89ab > .elementor-widget-container{margin:40px 0px 60px 0px;}.elementor-20 .elementor-element.elementor-element-619c89ab > .tippy-popper .tippy-tooltip .tippy-content{text-align:center;}/* Start custom CSS for text-editor, class: .elementor-element-619c89ab */.elementor-20 .elementor-element.elementor-element-619c89ab .user-avatar, .elementor-20 .elementor-element.elementor-element-619c89ab .membership-content-accessible, .elementor-20 .elementor-element.elementor-element-619c89ab .membership-content-excerpt {
    display: none !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .username {
    font-size: 32px !important;
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .user-email {
    font-size: 18px !important;
    margin-bottom: 30px !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .logout a {
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    background-color: #3AACC4 !important;
    border: 2px solid #3AACC4 !important;
    text-transform: none !important;
    color: white !important;
    margin-top: 20px !important;
    font-weight: normal;
    display: none;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .woocommerce-Button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    background-color: #3AACC4 !important;
    border: 2px solid #3AACC4 !important;
    text-transform: none !important;
    color: white !important;
    margin-top: 20px !important;
    font-weight: normal;
    display: block;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .myaccount-menu {
    background: #00000000 !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .myaccount-menu .active a {
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .myaccount-menu a:hover {
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .shop_table table, .elementor-20 .elementor-element.elementor-element-619c89ab .shop_table th, .elementor-20 .elementor-element.elementor-element-619c89ab .shop_table td {
    border: 0px !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .membership-actions {
    display: none !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab td {
    background-color: #ffffff !important;
    padding: 10px !important;
    font-size: 16px !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab th {
    background-color: #999999 !important;
    padding: 10px !important;
    font-size: 16px !important;
    color: #666666 !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab th a {
    color: #ffffff !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab #my-account-menu-tab ul {
    border-bottom: 1px solid white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab input {
    background-color: #ffffff11 !important;
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .membership-content-actions a {
    background-color: #3AACC4;
    color: white;
}

#my-account-menu-tab.layout-no-borders:before {
    background-color: #00000000 !important;
}

#my-account-menu-tab .myaccount-menu {
    display: flex !important;
}

#my-account-menu-tab .myaccount-menu li {
    margin-right: 12px !important;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-619c89ab */.elementor-20 .elementor-element.elementor-element-619c89ab .user-avatar, .elementor-20 .elementor-element.elementor-element-619c89ab .membership-content-accessible, .elementor-20 .elementor-element.elementor-element-619c89ab .membership-content-excerpt {
    display: none !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .username {
    font-size: 32px !important;
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .user-email {
    font-size: 18px !important;
    margin-bottom: 30px !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .logout a {
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    background-color: #3AACC4 !important;
    border: 2px solid #3AACC4 !important;
    text-transform: none !important;
    color: white !important;
    margin-top: 20px !important;
    font-weight: normal;
    display: none;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .woocommerce-Button {
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
    background-color: #3AACC4 !important;
    border: 2px solid #3AACC4 !important;
    text-transform: none !important;
    color: white !important;
    margin-top: 20px !important;
    font-weight: normal;
    display: block;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .myaccount-menu {
    background: #00000000 !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .myaccount-menu .active a {
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .myaccount-menu a:hover {
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .shop_table table, .elementor-20 .elementor-element.elementor-element-619c89ab .shop_table th, .elementor-20 .elementor-element.elementor-element-619c89ab .shop_table td {
    border: 0px !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .membership-actions {
    display: none !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab td {
    background-color: #ffffff !important;
    padding: 10px !important;
    font-size: 16px !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab th {
    background-color: #999999 !important;
    padding: 10px !important;
    font-size: 16px !important;
    color: #666666 !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab th a {
    color: #ffffff !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab #my-account-menu-tab ul {
    border-bottom: 1px solid white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab input {
    background-color: #ffffff11 !important;
    color: white !important;
}

.elementor-20 .elementor-element.elementor-element-619c89ab .membership-content-actions a {
    background-color: #3AACC4;
    color: white;
}

#my-account-menu-tab.layout-no-borders:before {
    background-color: #00000000 !important;
}

#my-account-menu-tab .myaccount-menu {
    display: flex !important;
}

#my-account-menu-tab .myaccount-menu li {
    margin-right: 12px !important;
}/* End custom CSS */
/* Start custom CSS */.membership-start-date,.membership-end-date,.membership-status {
  display: none !important;
}

.wp-admin-bar-dce-elementor-edit-template-wrapper {
    display: none;
}/* End custom CSS */