.elementor-1537 .elementor-element.elementor-element-ee94470{text-align:center;}.elementor-1537 .elementor-element.elementor-element-ee94470 .elementor-heading-title{color:#FFFFFF;}.elementor-1537 .elementor-element.elementor-element-ee94470 > .elementor-widget-container{margin:60px 0px 40px 0px;}.elementor-1537 .elementor-element.elementor-element-ee94470 > .tippy-popper .tippy-tooltip .tippy-content{text-align:center;}.elementor-1537 .elementor-element.elementor-element-5fcff74 > .tippy-popper .tippy-tooltip .tippy-content{text-align:center;}/* Start custom CSS for shortcode, class: .elementor-element-5fcff74 */.elementor-1537 .elementor-element.elementor-element-5fcff74 {
    max-width: 500px;
    margin: auto;
    font-family: "GTWalsheim",Sans-serif !important;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-5fcff74 */.elementor-1537 .elementor-element.elementor-element-5fcff74 {
    max-width: 500px;
    margin: auto;
    font-family: "GTWalsheim",Sans-serif !important;
}/* End custom CSS */